<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <context-param>
    <param-name>URL</param-name>
    <param-value>jdbc:mysql://localhost/postlibrary</param-value>
  </context-param>
  <context-param>
    <param-name>UserSQL</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>PasswordSQL</param-name>
    <param-value> </param-value>
  </context-param>





  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>org.example.EncodingFilter</filter-class>
    <init-param>
      <param-name>requestEncoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>

  <filter>
    <filter-name>SecurityFilter</filter-name>
    <filter-class>org.example.SecurityFilter</filter-class>
  </filter>

  <filter>
    <filter-name>ImgFilter</filter-name>
    <filter-class>org.example.ImgFilter</filter-class>
  </filter>





  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>

  <filter-mapping>
    <filter-name>SecurityFilter</filter-name>
    <url-pattern>/admin</url-pattern>
  </filter-mapping>

<filter-mapping>
  <filter-name>ImgFilter</filter-name>
  <url-pattern>/admin</url-pattern>
</filter-mapping>



  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/resources/*</url-pattern>
  </servlet-mapping>


</web-app>
